<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- org.hnist.dao.NewsMapper对应的接口 -->
<mapper namespace="com.grizzly.dao.DeveloperMapper">
    <select id="allAppInform" resultType="AppInfo">
        select id,softwareName from app_info order by id asc
    </select>
    <select id="countAppInforms" resultType="int">
        select count(1) from app_info
        <where>
            <if test="params.softwareName != null">
                and softwareName like #{params.softwareName}
            </if>
            <if test="params.id != null">
                and id = #{params.id}
            </if>
        </where>
    </select>
    <select id="selectByPage" resultType="com.grizzly.model.AppInfo">
        select * from app_info
        <where>
            <if test="params.softwareName != null">
                and softwareName like #{params.softwareName}
            </if>
            <if test="params.id != null">
                and id = #{params.id}
            </if>
        </where>
        order by creationDate desc
        <if test="params.start != null and params.size != null">
            limit #{params.start},#{params.size}
        </if>
    </select>
</mapper>