<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.grizzly.dao.DevUserMapper">
	<select id="getLoginUser" resultType="DevUser">
		select u.* from dev_user u
		<trim prefix="where" prefixOverrides="and | or">
			<if test="devCode != null">
				and u.devCode = #{devCode}
			</if>
		</trim>
	</select>
	
	<select id="getDevUsers" resultType="DevUser">
		select * from dev_user
		<trim prefix="where" prefixOverrides="and | or">
			<if test="devName != null">
				and devName like CONCAT('%',#{devName},'%')
			</if>
		</trim>
		order by id asc limit #{from},#{pageSize}
	</select>
	
	<select id="getDevInfoCount" resultType="Integer">
		select count(*) from dev_user
		<trim prefix="where" prefixOverrides="and || or">
			<if	test="devName != null">
				and devName like CONCAT('%',#{devName},'%')
			</if>
		</trim>
	</select>
	
</mapper>